

    <section class="formalized-business-container">
        <h2>¿Su negocio está formalizado?</h2>
        <section>
            <p>Para entender en qué dimensión de formalización se encuentra su negocio, le pedimos que responda las
                siguientes preguntas. Esto permitirá obtener resultados más fiables sobre su progreso en el cambio hacia
                la formalización.</p>
            <div class="ques-container">
                <div class="yes-no">
                    <div>
                        <span>no</span><span>sí</span>
                    </div>
                </div>
                <div><label for="answer yes-no-one">¿Tiene Registro Único Tributario (RUT)?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-one" name="check-one" type="radio"><input id="answer-one"
                            name="check-one" type="radio">
                    </div>
                </div>
                <div><label for="answer yes-no-two">¿Tiene Registro Mercantil?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-two" name="check-two" type="radio"><input id="answer-two"
                            name="check-two" type="radio">
                    </div>
                </div>
                <div><label for="answer yes-no-three">¿Renueva el Registro Mercantil cada año?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-three" name="check-three" type="radio"><input id="answer-three"
                            name="check-three" type="radio">
                    </div>
                </div>
                <div><label for="answer yes-no-four">¿Paga su salud, pensiones y riesgos laborales?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-four" name="check-four" type="radio"><input id="answer-four"
                            name="check-four" type="radio">
                    </div>
                </div>
                <div><label for="answer yes-no-five">¿Conoce los requerimientos o permisos para desarrollar su actividad
                        y cumple con estos?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-five" name="check-five" type="radio"><input id="answer-five"
                            name="check-five" type="radio">
                    </div>
                </div>
                <div><label for="answer yes-no-six">¿Conoce los deberes y obligaciones tributarias de su
                        actividad?</label>
                    <div class="inputs-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled"
                            width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="#6F309F" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="white" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z"
                                stroke-width="0" fill="#6F309F"></path>
                        </svg><input id="answer-six" name="check-six" type="radio"><input id="answer-six"
                            name="check-six" type="radio">
                    </div>
                </div>
                <div class="see-results-btn"><button>Ver Resultados</button></div>
            </div>
        </section>
    </section>
