<app-navbar-two/>

<section class="formalized-business-container">

  <div class="ques-container">
    <h2>Evalúe si su negocio está <br> formalizado respondiendo <br>estas preguntas</h2>
    <div class="yes-no">
      <div>
        <span>no</span><span>sí</span>
      </div>
    </div>

    <div>
      @if(viewQuestOne()){
        <label for="answer yes-no-one">¿Tiene Registro Único Tributario (RUT)?</label>
      } @else{
        <label for="answer yes-no-one" class="disabled">¿Tiene Registro Único Tributario (RUT)?</label>
      }
        <div class="inputs-container">
          @if(viewQuestOne()){
            <img
              src="./assets/images/icon.svg"
              alt="?"
              [attr.data-bs-toggle]="'modal'"
              [attr.data-bs-target]="'#exampleModal-' + 1"
            />
            <input id="answer-one" name="check-one" type="radio" value="no" (change)="getAnswer('no', 1)">
            <input id="answer-one" name="check-one" type="radio" value="si" (change)="getAnswer('si', 1)">
          } @else{
            <img
              src="./assets/images/icon-disabled.svg"
              alt="?"
              [attr.data-bs-toggle]="'modal'"
              [attr.data-bs-target]="'#exampleModal-' + 1"
            />
            <input id="answer-one" name="check-one" type="radio" value="no" [disabled]="true">
            <input id="answer-one" name="check-one" type="radio" value="si" [disabled]="true">
          }
        </div>
    </div>

    <div>
      @if(viewQuestTwo()){
        <label for="answer yes-no-two">¿Tiene Registro Mercantil?</label>
      } @else {
        <label for="answer yes-no-two" class="disabled">¿Tiene Registro Mercantil?</label>
      }
      <div class="inputs-container">
        @if(viewQuestTwo()){
          <img
            src="./assets/images/icon.svg"
            alt="?"
            [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="'#exampleModal-' + 2"
          />
          <input id="answer-two" name="check-two" type="radio" value="no" [disabled]="handleCheckedTwo()" (change)="getAnswer('no', 2)">
          <input id="answer-two" name="check-two" type="radio" value="si" [checked]="handleCheckedTwo()" (change)="getAnswer('si', 2)">
                        } @else{
                          <img
                            src="./assets/images/icon-disabled.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 2"
                          />
                          <input id="answer-two" name="check-two" type="radio" value="no" [disabled]="true" (change)="getAnswer('no', 2)">
                          <input id="answer-two" name="check-two" type="radio" value="si" [disabled]="true" (change)="getAnswer('si', 2)">
                        }
                    </div>
                </div>

                <div>
                    @if(viewQuestThree()){
                      <label for="answer yes-no-three">¿Renueva el Registro Mercantil cada año?</label>

                    } @else{
                      <label for="answer yes-no-three" class="disabled">¿Renueva el Registro Mercantil cada año?</label>

                    }

                    <div class="inputs-container">

                        @if(viewQuestThree()){
                          <img
                            src="./assets/images/icon.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 3"
                          />
                          <input id="answer-three" name="check-three" type="radio" value="no" (change)="getAnswer('no', 3)">
                          <input id="answer-three" name="check-three" type="radio" value="si" (change)="getAnswer('si', 3)">
                        } @else {
                          <img
                            src="./assets/images/icon-disabled.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 3"
                          />
                          <input id="answer-three" name="check-three" type="radio" value="no" [disabled]="true">
                          <input id="answer-three" name="check-three" type="radio" value="si" [disabled]="true">
                        }
                    </div>
                </div>

                <div>
                    @if(viewQuestFour()){
                      <label for="answer yes-no-four" >¿Paga su salud, pensiones y riesgos laborales de los trabajadores?</label>
                    } @else{
                      <label for="answer yes-no-four" class="disabled">¿Paga su salud, pensiones y riesgos laborales de los trabajadores?</label>
                    }

                    <div class="inputs-container">
                        @if(viewQuestFour()){
                          <img
                            src="./assets/images/icon.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 4"
                          />
                          <input id="answer-four" name="check-four" type="radio" value="no" (change)="getAnswer('no', 4)">
                          <input id="answer-four" name="check-four" type="radio" value="si" (change)="getAnswer('si', 4)">
                        } @else{
                          <img
                            src="./assets/images/icon-disabled.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 4"
                          />
                          <input id="answer-four" name="check-four" type="radio" value="no" [disabled]="true">
                          <input id="answer-four" name="check-four" type="radio" value="si" [disabled]="true">
                        }


                    </div>
                </div>

                <div>
                  @if(viewQuestFive()){
                    <label for="answer yes-no-five">¿Paga su salud, pensiones y riesgos laborales?</label>
                  } @else {
                    <label for="answer yes-no-five" class="disabled">¿Paga su salud, pensiones y riesgos laborales?</label>
                  }

                    <div class="inputs-container">

                        @if(viewQuestFive()){
                          <img
                            src="./assets/images/icon.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 5"
                          />
                          <input id="answer-five" name="check-five" type="radio" value="no" (change)="getAnswer('no', 5)">
                          <input id="answer-five" name="check-five" type="radio" value="si" (change)="getAnswer('si', 5)">
                        } @else {
                          <img
                            src="./assets/images/icon-disabled.svg"
                            alt="?"
                            [attr.data-bs-toggle]="'modal'"
                            [attr.data-bs-target]="'#exampleModal-' + 5"
                          />
                          <input id="answer-five" name="check-five" type="radio" value="no" [disabled]="true">
                          <input id="answer-five" name="check-five" type="radio" value="si" [disabled]="true">
                        }

                    </div>
                </div>

                <div>
                  <label for="answer yes-no-six">¿Conoce los requerimientos o permisos para desarrollar su actividad y cumple con estos?</label>
                    <div class="inputs-container">
                      <img
                        src="./assets/images/icon.svg"
                        alt="?"
                        [attr.data-bs-toggle]="'modal'"
                        [attr.data-bs-target]="'#exampleModal-' + 6"
                      />
                        <input id="answer-six" name="check-six" type="radio" value="no" (change)="getAnswer('no', 6)">
                        <input id="answer-six" name="check-six" type="radio" value="si" (change)="getAnswer('si', 6)">
                    </div>
                </div>

                <div>
                  <label for="answer yes-no-seven">¿Conoce los deberes y obligaciones tributarias de su actividad?</label>
                    <div class="inputs-container">
                      <img
                        src="./assets/images/icon.svg"
                        alt="?"
                        [attr.data-bs-toggle]="'modal'"
                        [attr.data-bs-target]="'#exampleModal-' + 7"
                      />
                        <input id="answer-seven" name="check-seven" type="radio" value="no" (change)="getAnswer('no', 7)">
                        <input id="answer-seven" name="check-seven" type="radio" value="si" (change)="getAnswer('si', 7)">
                    </div>
                </div>
<div>
  <p style="color: #006591">Recuerde que las respuestas son anónimas</p>
</div>
  </div>
  <div class="content-image">
    <img class="image" src="/assets/icons/recurso-3.png" alt="imagen">
    <div class="see-results-btn"><button (click)="handleSubmit($event)">Ver <br> Resultados</button></div>
  </div>

    </section>
