
<div class="congrats-container">

        <div>
            <h1>Resultado:</h1>
            @if(count === 7){
              <p>Usted es un empresario ejemplar, su negocio está formalizado en la dimensión de entrada, insumos y
                producción. Siga por ese camino y su negocio llegará muy lejos.</p>
            }

            @if(count === 5 || count === 6){
              <p>Ha hecho un gran trabajo, va por buen camino para la formalización de su negocio. Siga trabajando y
                pronto verá todos los resultados del esfuerzo.</p>
            }

            @if(count === 4 || count === 3 || count === 2){
              <p>Ya hizo lo más difícil: empezar. Siga trabajando y pronto verá todos los resultados del esfuerzo.</p>
            }
            @if(count === 1 || count === 0){
              <p>Sabemos que hay que recorrer un camino, al final su negocio obtendrá grandes beneficios.
                Acompáñenos a conocer cómo alcanzar el crecimiento que desea.</p>

            }


        </div>
        <div class="text">
          <h2>Estar formalizado implica cumplir con las condiciones exigidas por el Estado para el correcto funcionamiento de un negocio, abarcando las siguientes cuatro dimensiones</h2>
          <ul>
            <li>
              <p><b>Entrada:</b> lo que se requiere para crear legalmente su negocio, como el RUT.</p>
            </li>
            <li>
              <p><b>Insumos:</b> lo que se requiere para tener el material de trabajo y a los trabajadores
                en orden, como los aportes a seguridad social</p>
            </li>
            <li>
              <p><b>Producción:</b> lo que se requiere para llevar a cabo la operación, como el registro INVIMA</p>
            </li>
            <li>
              <p><b>Tributaria:</b> lo que se requiere para estar al día con los impuestos y deberes asociados.</p>
            </li>

          </ul>

<h2>Beneficios de la formalización para los negocios</h2>

<ul>

<li><p>Permite ampliar el portafolio de posibles clientes, contratar con el estado, exportar y tener mejores proveedores</p></li>
<li><p>Más posibilidades y mejores condiciones para acceder a créditos y otras fuentes de financiación</p></li>
<li><p>Tener mejor personal y cubrir los riesgos laborales</p></li>
<li><p>Evitar sanciones grandes y demandas</p></li>
<li><p>Acceder a programas de fortalecimiento empresarial</p></li>
<li><p>En fin, tener un negocio sostenible</p></li>
</ul>



          <button (click)="handleClick()"> Quieres mejorar?</button>
      </div>
      </div>

