<section class="content_container">
  <section class="container">
    <h2>Caracterización negocio</h2>
    <section class="form-container">
      <div class="ques-container">
        <label>Titular del negocio*</label>
<div>
  <div class="selectError">
          <select name="business" [(ngModel)]="titular.value" id="business" (change)="getAnswer($event, 1)">
            <option value="">Seleccione</option>

            <option value="persona natural">Persona Natural</option>
            <option value="persona juridica">Persona Juridica</option>
          </select>
          @if(titular.error){
            <p>el campo es requerido*</p>
          }
        </div>
          <img
            src="./assets/images/icon.svg"
            alt="?"
            [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="'#exampleModal-tipo-persona'"
          />
        </div>

      </div>
      <div class="ques-container">
        <label
          >Clasifica el negocio de acuerdo a la Actividad del negocio*</label
        >
<div>
  <div class="selectError">
          <select [(ngModel)]="negocio.value" [disabled]="titular.value === 'persona juridica'" name="business" id="business" (change)="getAnswer($event, 2)">
            <option value="">Seleccione</option>
            <option value="comercial">Comercial</option>
            <option value="Profesion liberal o artistica">
              Profesión liberal o artistica
            </option>
            <option value="agricultura o ganaderia">
              Agricultura y ganadería
            </option>
          </select>
          @if(negocio.error){
            <p>el campo es requerido*</p>
          }
        </div>
          <img
            src="./assets/images/icon.svg"
            alt="?"
            [attr.data-bs-toggle]="'modal'"
            [attr.data-bs-target]="'#exampleModal-actividad-comercial'"
          />
</div>


      </div>

      <div class="ques-container yesNo">
        <label>¿Emplea trabajadores?</label
        >
  <div class="selectError">

        <select name="business" id="business" (change)="getAnswer($event, 3)">
          <option value="">Seleccione</option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
        @if(trabajadores.error){
          <p>el campo es requerido*</p>
        }
      </div>

      </div>
      <div class="button"><button (click)="handleClick()">continuar</button></div>
    </section>
  </section>

</section>
<app-modal
  [id]="'tipo-persona'"
  [modalTitle]="''"
  [modalContent]="mensaje"
/>

<app-modal
  [id]="'actividad-comercial'"
  [modalTitle]="''"
  [modalContent]="mensajeDos"
/>
