

article{
  padding: 3rem;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
h1 {
  color: #006591;
  font-size: xx-large;
  font-weight: 900;
}
article p {
  color: #02b0ef;
  width: 70vh;
  margin-bottom: 2rem;
}
.error{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: red;
}
.disabled{
  color: rgb(130, 130, 130);
}
.ques-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:1rem;
  padding: 1rem;
}
.ques-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.button {
  display: flex;
  justify-content: flex-end ;
  padding: 3rem 0px;
  width: 100%;
  max-width: 1100px;
}
button {
  background-color: #02B0F0;
  border: none;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

@media (max-width: 900px) {
  section{
    width: 100%;
    flex-direction: column;
  }
  label{
    font-size: 1rem;
  }

  .ques-container, .ques-container div{
    justify-content: space-between;
    width: 100%;
  }

  .button{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }


}
