
article{
  padding: 1rem;
}
article h1 {
  color: #6f309f;
  font-size: xx-large;
  font-weight: 900;
}
article p {
  color: #02b0ef;
  width: 70vh;
  margin-bottom: 2rem;
}
.ques-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ques-container div {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.ques-container select {
  background-color: aliceblue;
  padding: 8px 0px 8px 30px;
  width: 14rem;

  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
.button {
  display: flex;
  justify-content: center !important;
}
.button button {
  background-color: #02B0F0;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 1rem;
}
