section{
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(227 215 239);
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .column2{
  padding: 1rem;
  width: 70%;
}
.footer{
  display: flex;
  padding: 1rem 5rem;
  gap: 2rem;

}
h2{
  padding: 1rem 5rem;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(11 23 122);
}
h5{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1rem;
  color: rgb(117 112 187);
}

ol {
  list-style: none;
  counter-reset: item;
}

li{
  color: rgb(94 139 163);
  counter-increment: item;
}
li:before {
  color: rgb(77, 112, 131);
  content: counter(item);
  font-weight: bold;

}
h3{
  font-size: 1.2rem;
  max-width: 48rem;
  color: #6f309f;
}
span{
  color: #02b0ef;
}
button{
  background-color: #02b0ef;
  border: none;
  color: white;
  border-radius: 30px;

  width: 10rem;
}

