<section>
<h2>
  Existe una alternativa para el cumplimiento de <br/>
  sus obligaciones de una manera más simple: <br/>
  "Régimen Simple de Tributación"
</h2>

<div class="info">
  <div></div>
  <div class="column2">
 <h5>Con este Régimen podrá tener los siguientes beneficios</h5>
 <ol>
  <li>
    No estará sujeto a Retenciones en la Fuente a título de Renta ni a título de ICA, salvo las
retenciones que se deban practicar por concepto de pagos laborales.
  </li>
  <li>
    Gozará de una tarifa que puede oscilar entre 1.2% y 14.5% dependiendo del valor del
ingreso y de la actividad que realices
  </li>
  <li>
    En una sola declaración podrá realizar el pago de distintos impuestos como el Impuesto
de Renta, Impuesto Nacional al consumo, y el Impuesto de Industria y Comercio.
  </li>
  <li>
    Todo es digital y sin necesidad de hacer filas: puede declarar y pagar por medios
electrónicos.
  </li>
  <li>
    Su liquidación es simple: no debe soportar y justificar los costos y deducciones
  </li>
  <li>
    Si realiza únicamente actividades de tiendas pequeñas, mini-mercados, micro-mercados
y peluquerías, y se acoge al Régimen Simple de Tributación, no será responsable del
Impuesto sobres las Ventas (IVA) en virtud del paragrafo 4 del artículo 437 del ET.
  </li>
  <li>
    Podrá descontar (restar) del anticipo del impuesto los aportes a pensión que haga por
sus trabajadores.
  </li>
<li>
  Podrá gozar de una exoneración de aportes parafiscales tales como SENA y aportes a
Salud.
</li>
<li>
  Podrá descontar (restar) de la base para el cálculo del impuesto, el 0.5% de los pagos
recibidos a través de tarjetas de crédito o débito.
</li>
<li>
  Podrá descontar de la base del impuesto lo pagado por Gravamen a los Movimientos
Financieros, o cuatro por mil (4 x 1000)”

</li>
 </ol>
</div>
</div>
<div class="footer">
  <h3>
    Para
    obtener más información sobre cómo <br/>optar por este régimen  <span>oprime aqui</span>
  </h3>
  <button (click)="handleClick()">Continuar</button>
</div>
</section>
