<div
  class="modal fade"
  [id]="'exampleModal-' + id"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body overflow-auto">
        @if(id === 6){

        <input
          type="text"
          (input)="getItems($event.target)"
          placeholder="Buscador..."
          class="inputFilter"
        />
        <a href="http://www.secretariasenado.gov.co/senado/basedoc/estatuto_tributario.html" target="_blank" >ver mas </a>

        @if(matchingSearch.length > 0){
          @for(items of matchingSearch; track matchingSearch; let idx = $index) {
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action">
            {{ idx + 1 }}. {{ items }}
          </button>
        </div>
        }
        } @else if (matchingSearch.length === 0 && showList) {
          <p>No encontro ningun resultado</p>

        } @else {
          @for( items of bienesExcluidos; track bienesExcluidos; let idx = $index){
            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action">
                {{ items }}
              </button>
            </div>
            }
      }
       }

        @if(id === 8){

          <input
            type="text"
            (input)="getItemsDos($event.target)"
            placeholder="Buscador..."
            class="inputFilter"
          />
          <a href="http://www.secretariasenado.gov.co/senado/basedoc/estatuto_tributario.html" target="_blank" >ver mas </a>
          @if(matchingSearchDos.length > 0){
            @for(items of matchingSearchDos; track matchingSearchDos; let idx = $index) {
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">
              {{ idx + 1 }}. {{ items }}
            </button>
          </div>
          } }
          @else if (matchingSearchDos.length === 0 && showListDos) {
            <p>No encontro ningun resultado</p>

          } @else{


            @for( items of serviciosExcluidos; track serviciosExcluidos; let idx = $index){
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action">
                  {{ idx + 1 }}. {{ items }}
                </button>
              </div>
              } } }


        {{ modalContent }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          volver
        </button>
      </div>
    </div>
  </div>
</div>
