
<app-navbar-bg-black/>
    <section class="container">
      <div>

        <section class="info-left-container">
            <h2>Modelos</h2>
            <p class="info-paragraph">
              A continuación encontrará varios rangos de ingresos y patrimonios que
              permitirán simular las condiciones de su negocio.</p>
            <p class="instructions-paragraph">
              Una vez seleccione un rango de ingresos y patrimonio en el que se ubique su
              negocio obtendrá la “ruta de la formalización”.</p>
        </section>
        <section class="options-right-container">
            <div class="title-options-year">
                <h3>Los ingresos brutos al año de su negocio son</h3>
                <img
              src="./assets/images/icon.svg"
              alt="?"
              [attr.data-bs-toggle]="'modal'"
              [attr.data-bs-target]="'#exampleModal-ingreso'"
            />
            </div>

            <div>
              <input id="answer-one" name="check-one" type="radio" (change)="getAnswer(true,47, ' Menores de 1400 UVT ($65.891.000)')">
              <label for="answer-one">
                Menores de $65.891.000 (equivalentes a 1.400 UVT)
              </label>
              </div>
            <div>
              <input id="answer-two" name="check-one" type="radio" (change)="getAnswer(true,47, 'Igual o más de 1400 UVT a menos de 3500 UVT (de $65.891.000 a $164.727.500)')">
              <label for="answer-two">
                Igual o más de $65.891.000  pero menos de $164.727.500
                (equivalente a igual o más de  1.400 UVT pero menos de 3.500 UVT)
              </label>
            </div>
            <div>
              <input id="answer-three" name="check-one" type="radio" (change)="getAnswer(true,47, 'Igual o más de 3500 UVT a igual o menos de 30.000 UVT (de $164.727.500 a $1.411.950.000)')">
              <label for="answer-three">
                Igual o más de $164.727.500 (equivalente a 3.500 UVT)
              </label>
            </div>
            <div>
              <input id="answer-four" name="check-one" type="radio" (change)="getAnswer(true,47, 'Más de 30.000 UVT ($1.411.950.000)')">
              <label for="answer-four"> Más de $1.411.950.000 (equivalente a más de 30.000 UVT)</label>
            </div>


            <div class="title-options-year">
              <h3>El patrimonio bruto de su negocio es</h3>
              <img
              src="./assets/images/icon.svg"
              alt="?"
              [attr.data-bs-toggle]="'modal'"
              [attr.data-bs-target]="'#exampleModal-patrimonio'"
            />
          </div>
            <div>
              <input id="answer-five" name="check-two" type="radio" (change)="getAnswer(true,48, 'Igual o menos de 4500 UVT (Igual o menos de $ 211.792.500)')">
              <label for="answer-five">
                Igual o menos de $ 211.792.500 (equivalente a igual o menos de 4.500 UVT)
              </label>
            </div>
            <div>
              <input id="answer-six" name="check-two" type="radio" (change)="getAnswer(true,48, 'Más de 4500 a igual o menos de 30.000 UVT (Más de 4500 a igual o menos de 30.000 UVT (Más de $ 211.792.500 a igual o menos de $ 1.411.950.000)')">
              <label for="answer-six">
                Más de $211.792.500 (equivalente a más de 4.500 UVT)
              </label>
            </div>
            <div>
              <input id="answer-seven" name="check-two" type="radio" (change)="getAnswer(true,48, 'Más de 30.000 UVT (Más de $ 1.411.950.000)')">
              <label for="answer-seven"> Más de $1.411.950.000 (equivalente a más de 30.000 UVT)</label>
            </div>



        </section>
      </div>
      <div class="other-container">
        <img src="/assets/icons/recurso-7.png" alt="imagen"/>

        <div>
          <span>Recuerde que las respuestas son anónimas</span>
          <button [disabled]="avalible === true" (click)="handleClickButton()">Continuar</button>
    <app-loading [loading]="loading"/>

          @if(error){
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          }
        </div>

      </div>
    </section>

    <app-modal
    [id]="'ingreso'"
    [modalTitle]="''"
    [modalContent]="'Los ingresos brutos son todas las entradas de dinero de su negocio, como puede ser lo que reciba por venta de mercancías, productos agrícolas o por la prestación de servicios. '"
/>
<app-modal
[id]="'patrimonio'"
[modalTitle]="''"
[modalContent]="'El patrimonio bruto es la suma de todos los bienes y activos como inventarios, maquinarias y equipos, vehículos, casas, locales, dinero de cuentas, pagarés a su favor, entre otros, que su negocio tenga. A esa suma no le puede restar deudas.'"
/>
