
.container {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.container .info-container p {
  color: #6f309f;
  font-size: larger;
  font-weight: 500;
  line-height: 1.7rem;
  max-width:15rem;
}
.container .ques-container {
  font-size: large;
  font-weight: 500;
}

.container .ques-container .span {
  color: #6f309f;
  padding-right: 7rem;
}
.container .ques-container div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5rem;
}
.container .ques-container input.input {
  border: 2px solid #6f309f;
  width: 13rem;
  height: 2rem;
  outline: none;
  padding-left: 5px;
}
.container .ques-container .icon {
  margin-right: 1.5rem;
}
.container .ques-container label {
  margin-right: 2rem;
}
.container .ques-container .large-ques {
  width: 21rem;
}

img{
  margin: 0px 1rem;
}

.footer-form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;

  input[type=submit]{
    background-color: #02B0F0;
    border: none ;
    border-radius: 2rem ;
    color: white;
    padding: 0.5rem 1rem ;

  }
}


@media (max-width: 950px) {
  .container{
    flex-direction: column;
  }
}
