<section class="container">
  <div class="info-container">
    <p>
      Todas las preguntas deben responderse con la información de la persona
      natural o jurídica quien lleva el negocio. Ejemplo: si realiza la
      actividad económica a través de una sociedad, la información es de la
      sociedad.
    </p>
  </div>
  <section class="ques-container">
    <form action="">
      <div>
        <label for="text">¿Cuál fue su patrimonio bruto el año anterior?</label>
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-1'"
        />
        <input class="input"
          type="text"
          (change)="updateValue($event.target || '', 20)"
          [value]="cantidad"
        />
      </div>
      <div>
        <label for="text">¿Cuál es su patrimonio bruto del presente año?</label>
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-2'"
        />
        <input class="input"
          type="text"
          (change)="updateValue($event.target || '', 21)"
          [value]="cantidadDos"
        />
      </div>
      <div class="span">
        <span>¿Cuáles fueron todos sus ingresos brutos del años anterior?</span>
      </div>
      <div>
        <label for="text">¿Ingresos de actividades gravadas con IVA?</label
        ><input class="input"
          type="text"
          (change)="updateValue($event.target || '', 22)"
          [value]="cantidadTres"
        />
      </div>
      <div>
        <label for="text" class="large-ques"
          >Ingresos de actividades de restaurante, cafeterías, autoservicio,
          bares y similares</label
        ><input class="input"
          type="text"
          (change)="updateValue($event.target || '', 23)"
          [value]="cantidadCuatro"
        />
      </div>
      <div>
        <label for="text">Ingresos Laborales</label
        ><input class="input"
          type="text"
          (change)="updateValue($event.target || '', 24)"
          [value]="cantidadCinco"
        />
      </div>
      <div>
        <label for="text">Otros ingresos</label
        ><input class="input"
          type="text"
          (change)="updateValue($event.target || '', 25)"
          [value]="cantidadSeis"
        />
      </div>
      <div>
        <label for="text">Total de ingresos brutos</label
        ><input class="input"
          type="text"
          (change)="updateValue($event.target || '', 26)"
          [value]="cantidadSiete"
        />
      </div>

      <div class="footer-form">
        <input type="submit" value="Continuar" />
      </div>
    </form>
  </section>
</section>
