<section class="container">
  <app-disclaimer class="disclaimer" />
  <section class="ques-container">
    <form action="">
      <div>
        <label for="text">¿Cuál fue su patrimonio bruto el año anterior?</label>
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-1'"
        />
        <input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 20)"
          [value]="cantidad"
          required
        />
      </div>
      <div>
        <label for="text">¿Cuál es su patrimonio bruto del presente año?</label>
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-2'"
        />
        <input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 21)"
          [value]="cantidadDos"
          required
        />
      </div>
      <div class="span">
        <span>¿Cuáles fueron todos sus ingresos brutos del año anterior?</span>
      </div>
      <div>
        <label for="text">¿Ingresos de actividades gravadas con IVA?</label
        ><input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 22)"
          [value]="cantidadTres"
          required
        />
      </div>
      <div>
        <label for="text" class="large-ques"
          >Ingresos de actividades de restaurante, cafeterías, autoservicio,
          bares y similares</label
        ><input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 23)"
          [value]="cantidadCuatro"
          required
        />
      </div>
      <div>
        <label for="text">Ingresos Laborales</label
        ><input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 24)"
          [value]="cantidadCinco"
          required
        />
      </div>
      <div>
        <label for="text">Otros ingresos</label
        ><input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 25)"
          [value]="cantidadSeis"
          required
        />
      </div>
      <div>
        <label for="text">Total de ingresos brutos</label
        ><input
          class="input"
          type="text"
          (change)="updateValue($event.target || '', 26)"
          [value]="cantidadSiete"
          required
        />
      </div>
      <div class="span">
        <span>¿Cuáles son sus ingresos brutos del año anterior?</span>
      </div>
      <div class="footer-form">
        <input type="submit" value="Continuar" />
      </div>
    </form>
  </section>
</section>
