
.container_home {
  background-color: #6f309f;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding: 3rem;
  gap: 3rem;
}
.content-container-left, .content-container-rigth{
  width: 100%;
}

 h2 {
  font-size: xx-large;
  font-weight: 800;
  padding-bottom: 1rem;
  color: #f0f8ff;
}
.introduction-container p {
  font-size: x-large;
  padding-bottom: 1rem;
  color: #f0f8ff;
}
.start-ques-container {
  color: #63cd71;
  font-size: x-large;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.recaptcha{
  padding: 1rem;
}
.start-ques-container button {
  font-size: x-large;
  background-color: #02b0ef;
  color: #f0f8ff;
  border: none;
  border-radius: 23px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

.content-container-rigth div {
  display: flex;
  align-items: center;
  margin-inline: 1rem;
}
.content-container-rigth span {
  color: #f0f8ff;
}
.content-container-rigth img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
