    <section class="container_home">
    <app-navbar/>
    <section class="container">
        <section class="content-container-left">
            <div class="introduction-container">
                <h2>Bienvenidos al</h2>
                <h1>simulador de <br/> formalización</h1>
                <p>
                  Aquí podrá evaluar si su negocio es formal o <br>
                  informal y conocer la ruta de la <br>
                  formalización tributaria
                </p>
            </div>
            <div class="start-ques-container">
                <p>Aquí podrá evaluar si su negocio es formal o informal y conocer la ruta de la formailización tributaria</p>

            </div>
        </section>
        <div class="content-container-rigth">
            <img src="/assets/icons/recurso-1.png" alt="icono"/>
        </div>
    </section>

    <div class="home-footer">
      <div>
      <button (click)="handleClick()">iniciar</button>
      @if(viewRecaptcha){
        <div class="recaptcha">
          <re-captcha (resolved)="resolved($event)" siteKey="6LeL20YUAAAAAB43haRm-v93jNxwi7EBraClHUgX"></re-captcha>
        </div>
      }
    </div >
      <p class="video">VIDEO Despertando el poder <br> del cumplimiento tributario</p>
    </div>





  </section>
