<app-navbar-two/>
<section>
  <div>
    <h2>¡Ayúdanos a mejorar la experiencia <br> de otros contribuyentes!</h2>
    <h3>¡Su opinión es importante para nosotros!</h3>
    <p>A continuación, le invitamos a responder una breve encuesta sobre tu experiencia en este simulador. Las respuestas nos ayudarán a prestar un mejor servicio a otras personas que deseen iniciar su proceso de formalización tributaria.</p>
    <h3>¡Muchas Gracias!</h3>
  </div>

  <div>
    <img src="/assets/icons/recurso-6.png">
    <button (click)="handleClick()">Responser <br> Encuesta</button>
  </div>
</section>
