    <section>
        <h2>Determinemos la ruta de la formalización de su negocio</h2>
        <p>Esta determinación la puedes hacer de dos formas:</p>
        <div class="two-options">
            <button>Introduciendo los datos económicos básicos del negocio que deseas
                simular</button>
            <button (click)="redirectFormCuatro()">Utiliza un modelo, como si fuera svu negocio</button>
        </div>
        <div class="warning">
            <p>Ten en cuenta que este simulador asume que el contribuyente es residente a efectos fiscales</p>
            <a href="dian.gov.co">www.dian.gov.co</a>
            <p>Si el negocio noe s de un residente en Colombia, este simulador no es adecuado.</p>
        </div>
    </section>

