<h2>
  Sobre La actividad economica <br />
  que desea formalizar :
</h2>
<section>

<div class="disclaimer">
<p>Todas las preguntas deben responderse con la informacion de la persona natural
  o juridica quien lleva el negocio. Ejemplo, si realiza la actividad economica a traves
  de una sociedad, la informacion es de la sociedad
</p>
</div>

<div class="container">
  <div class="container_question">
    <div class="question"></div>
    <div class="answer">
      <label>Si</label>
      <label>No</label>
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>
        ¿Coresponde una actividad de restaurante, cafeterías, autoservicio,
        bares y similares?
      </h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿Es realizada con una franquicia?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿Se utilizan marcas propias?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿está gravada con IVA?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿consiste en venta de bienes corporales muebles?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿estos bienes están excluidos?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>
        ¿consiste en la prestación de servicios en el territorio nacional o
        desde el exterior?
      </h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>

  <div class="container_question">
    <div class="question">
      <h3>¿estos servicios están excluidos?</h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
        class="input-checkbox"
        type="checkbox"
        id="si"
        name="respuesta"
        value="si"
        required
      />
      <input
        class="input-checkbox"
        type="checkbox"
        id="no"
        name="respuesta"
        value="no"
        required
      />
    </div>
  </div>
</div>
</section>
