<h2>
  Sobre La actividad economica <br />
  que desea formalizar :
</h2>

<section>
  <div class="disclaimer">
    <p>
      Todas las preguntas deben responderse con la informacion de la persona
      natural o juridica quien lleva el negocio. Ejemplo, si realiza la
      actividad economica a traves de una sociedad, la informacion es de la
      sociedad
    </p>
  </div>

  <form class="container">
    <div class="container_question">
      <div class="question"></div>
      <div class="answer">
        <label>Si</label>
        <label>No</label>
        <label>No se</label>
      </div>
    </div>
    @for( quest of questions; track questions){

    <div class="container_question">
      <div class="question">
        @if(quest.disabled === true){
        <h3 class="disabled">
          {{ quest.question }}
        </h3>
        <img
          src="./assets/images/icon-disabled.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-' + quest.id"
        />

        } @else {
        <h3>
          {{ quest.question }}
        </h3>
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-' + quest.id"
        />

        }
      </div>
      <div class="answer">
        @if(quest.disabled === true){
        <input
          (change)="getAnswer('si', quest.id)"
          class="input-checkbox disabled"
          type="radio"
          id="si"
          name="{{ quest.id }}"
          value="si"
          [checked]="quest.checkedYes"
          [disabled]="quest.disabled"
          [required]="quest.disabled"
        />
        <input
          (change)="getAnswer('no', quest.id)"
          class="input-checkbox disabled"
          type="radio"
          id="no"
          name="{{ quest.id }}"
          [checked]="quest.checkedNo"
          [disabled]="quest.disabled"
          [required]="quest.disabled"
          value="no"
        />
        @if (quest.id === 4) {

        <input
          (change)="getAnswer('no se', quest.id)"
          class="input-checkbox disabled"
          type="radio"
          id="nose"
          [checked]="quest.checkedNose"
          name="{{ quest.id }}"
          value="no se"
          required
        />
        } } @else {

        <input
          (change)="getAnswer('si', quest.id)"
          class="input-checkbox"
          type="radio"
          id="si"
          name="{{ quest.id }}"
          value="si"
          [checked]="quest.checkedYes"
          [disabled]="quest.disabled"
          [required]="quest.disabled"
        />
        <input
          (change)="getAnswer('no', quest.id)"
          class="input-checkbox"
          type="radio"
          id="no"
          name="{{ quest.id }}"
          [checked]="quest.checkedNo"
          [disabled]="quest.disabled"
          [required]="quest.disabled"
          value="no"
        />
        @if (quest.id === 4) {

        <input
          (change)="getAnswer('no se', quest.id)"
          class="input-checkbox"
          type="radio"
          id="nose"
          name="{{ quest.id }}"
          [checked]="quest.checkedNose"
          value="no se"
          required
        />
        } }
      </div>
      <app-modal
        [id]="quest.id"
        [modalTitle]="quest.question"
        [modalContent]="quest.content"
      />
    </div>

    }
  <input type="submit" value="Continuar"/>

  </form>
</section>
