<h2>
  Sobre La actividad economica <br />
  que desea formalizar :
</h2>
<section>

<div class="disclaimer">
<p>Todas las preguntas deben responderse con la informacion de la persona natural
  o juridica quien lleva el negocio. Ejemplo, si realiza la actividad economica a traves
  de una sociedad, la informacion es de la sociedad
</p>
</div>

<div class="container">
  <div class="container_question">
    <div class="question"></div>
    <div class="answer">
      <label>Si</label>
      <label>No</label>
    </div>
  </div>
@for( quest of questions; track questions){
  <div class="container_question">
    <div class="question">
      <h3>
        {{quest.question}}
      </h3>
      <img src="./assets/images/icon.svg" alt="?" />
    </div>
    <div class="answer">
      <input
      (click)="getAnswer('si', quest.id)"
        class="input-checkbox"
        type="radio"
        id="si"
        name={{quest.id}}
        value="si"
        required
      />
      <input
      (click)="getAnswer('no', quest.id)"
        class="input-checkbox"
        type="radio"
        id="no"
        name={{quest.id}}
        value="no"
        required
      />
    </div>
  </div>
}

</div>
</section>
