h2{
  font-weight: 900;
  line-height: 3rem;
  color: #02B0F0;
  font-size: 3rem;
}

section{
  display: flex;
  justify-content: space-evenly;
}

.disclaimer{
  width: 25%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.container_question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .question{
    width: 80%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .answer{
    width: 20%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
  }
}

.container_question input{
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  border: 1rem solid #6F309F;
}


.input-checkbox {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #6F309F;
  border-radius: 5px;
  cursor: pointer;
}

.input-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}


.input-checkbox:checked::after {
  background-color: #fff;
}


@media (max-width: 600px) {
  section{
    flex-direction: column;
  }

  .disclaimer{
    width: 100%;
    padding: 1rem;
  }

}
