
    <section>
        <div class="info-container">
            <div class="info-left-container">
                <h2>Esta es la ruta de la formalización de su negocio</h2>
                <p>Para navegar por ella, selecciones el número de la obligación para conocer más información sobre cada
                    paso para la formalización de su negocio.</p>
            </div>
            <div class="info-right-container">
                <p>No olvide que esta es una aproximación de las obligaciones de su negocio y pueden existir otras
                    obligaciones tributarias que se deban cumplir. <span>Para conocer más precione aquí.</span></p>
            </div>
        </div>


        <div class="stepper-wrapper">
      <div class="stepper-item completed">
        <div class="stepper-container-item" style="top: -3.5rem;">
          <div class="step-name" >Registro<br>Mercantil</div>
          <div class="step-counter" >1</div>
        </div>
      </div>

      <div class="stepper-item completed">
        <div class="stepper-container-item">
          <div class="step-counter">2</div>
          <div class="step-name">Registro <br>Único<br> Tributario</div>
        </div>
      </div>


      <div class="stepper-item completed">
        <div class="stepper-container-item" style="top: -5rem;">

          <div class="step-name">Registro de <br> información <br> tributaria</div>
          <div class="step-counter">3</div>
        </div>
      </div>
      @if(isPersonaNatural){
      <div class="stepper-item completed">
        <div class="stepper-container-item">
          <div class="step-counter">4</div>
          <div class="step-name">Contabilidad</div>

        </div>
      </div>
      }

      @if(viewButtonFive()){
      <div class="stepper-item completed">
        @if(isPersonaNatural){
          <div class="stepper-container-item" style="top: -5rem;">
            <div class="step-name">Sistema de<br> facturación<br> electrónica</div>
            <div class="step-counter">5</div>
          </div>
        } @else {
          <div class="stepper-container-item">

            <div class="step-counter">5</div>
            <div class="step-name">Sistema de<br> facturación<br> electrónica</div>
          </div>
        }

      </div>
    }
      <div class="stepper-item completed">
        <div class="stepper-container-item" >
          @if(isPersonaNatural){
            <div class="stepper-container-item" style="top: -1.6rem;">
              <div class="step-name">Informar</div>
              <div class="step-counter">6</div>

            </div>
          } @else {
            <div class="stepper-container-item">
              <div class="step-counter">6</div>
              <div class="step-name">Informar</div>
            </div>
          }

        </div>
      </div>
      @if(viewButtonSeven()){
        <div class="stepper-item completed">
          <div class="stepper-container-item"  style="top: -5rem;">
            <div class="step-name">Impuesto <br> sobre la  <br>renta</div>
            <div class="step-counter">7</div>
          </div>
        </div>
      }
      @if(viewButtonEigth()){
        <div class="stepper-item completed">
          <div class="stepper-container-item" >
            <div class="step-counter">8</div>
            <div class="step-name">Impuesto <br> sobre la  <br>renta</div>
          </div>
        </div>
      }
      @if(viewButtonNine()){
        <div class="stepper-item completed">
          <div class="stepper-container-item" style="top: -5rem;">
            <div class="step-name">Impuesto <br> de industria  <br>y comercio</div>
            <div class="step-counter">9</div>
          </div>
        </div>
      }
      @if(viewButtonTen()){
      <div class="stepper-item completed">
        <div class="stepper-container-item">
          <div class="step-counter">10</div>
          <div class="step-name">Impuesto <br> al consumo</div>
        </div>
      </div>
    }
    </div>
        <div class="button"><button>Continuar</button></div>
    </section>
