<h2>
  Sobre La actividad economica <br />
  que desea formalizar :
</h2>

<section>
  <app-disclaimer class="disclaimer" />

  <form class="container">
    <div class="container_question">
      <div class="question"></div>
      <div class="answer">
        <label>Si</label>
        <label>No</label>
      </div>
    </div>

    <div class="container_question">
      <div class="question">
       @if(questions[0].disabled ){
          <h3 class="quest-10 disabled">¿Tiene más de un establecimiento de comercio?</h3>
          <img
          src="./assets/images/icon-disabled.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-9'"/>
        } @else {
          <h3 class="quest-10">¿Tiene más de un establecimiento de comercio?</h3>
          <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-9'"/>
        }


      </div>
      <div class="answer">
        <input
          (change)="getAnswer('si', 9)"
          class="input-checkbox disabled"
          type="radio"
          id="si"
          name="{{ 9 }}"
          value="si"
          [checked]="questions[0].checkedYes"
          [disabled]="questions[0].disabled"
          [required]="questions[0].required"
        />
        <input
          (change)="getAnswer('no', 9)"
          class="input-checkbox disabled"
          type="radio"
          id="no"
          name="{{ 9 }}"
          [checked]="questions[0].checkedNo"
          [disabled]="questions[0].disabled"
          [required]="questions[0].required"
          value="no"
        />
      </div>
    </div>
    @if(questions[0].error && questions[0].id === 9){
      <span class="error-inputs">Campo requerido *</span>
    }

    <div class="container_question">
      <div class="question">

        @if(questions[1].disabled ){
          <h3 class="quest-10 disabled">¿Cual fue el monto de sus consignaciones bancarias, depositos o inversiones financieras en el año inmediatamente anterior?</h3>
        } @else {
          <h3 class="quest-10">¿Cual fue el monto de sus consignaciones bancarias, depositos o inversiones financieras en el año inmediatamente anterior?</h3>
        }
      </div>

      <div class="answer-inputs-text">
        <div>
          <label for="gravada-con-iva" class="disabled">De la actividad gravada con iva</label>
          <div class="answer-inputs-divs">
            <input
              (input)="updateValue($event.target || '', 10)"
              [value]="cantidad"
              (keydown)="filtrarNumero($event)"
              class="input-checkbox disabled"
              type="text"
              id="gravada-con-iva"
              name="gravada-con-iva"
              [required]="questions[1].required"
              [disabled]="questions[1].disabled"

            />

          </div>
        </div>

        <div>
            <label class="disabled">Otras</label>
            <div class="answer-inputs-divs">
              <input
                (input)="updateValue($event.target || '', 101)"
                (keydown)="filtrarNumero($event)"
                [value]="cantidadDos.trim()"
                class="input-checkbox disabled"
                type="text"
                id="nose"
                min="0"
                name="gravada-con-iva"
                [required]="questions[2].required"
                [disabled]="questions[2].disabled"
              />
            </div>
        </div>

      </div>
    </div>
    @if(questions[1].error || questions[2].error){
      <p class="error-inputs">Campo requerido *</p>
    }

    <div class="container_question">
      <div class="question">
        @if(questions[3].disabled){
          <h3 class="quest-10 disabled">¿Realizo compras y consumos totales superioes a 1400 unidades de Valor Tributario (UVT) ($65.891.000) durante el año inmediatamente anterior ?</h3>
          <img
          src="./assets/images/icon-disabled.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-11'"/>
        } @else {
          <h3 class="quest-10">¿Realizo compras y consumos totales superioes a 1400 unidades de Valor Tributario (UVT) ($65.891.000) durante el año inmediatamente anterior ?</h3>
          <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-11'"/>
        }

      </div>

      <div class="answer">
        <input
          (change)="getAnswer('si', 11)"
          class="input-checkbox disabled"
          type="radio"
          id="si"
          name="{{ 11 }}"
          value="si"
          [checked]="questions[3].checkedYes"
          [disabled]="questions[3].disabled"
          [required]="questions[3].required"
        />
        <input
          (change)="getAnswer('no',11)"
          class="input-checkbox disabled"
          type="radio"
          id="no"
          name="{{ 11 }}"
          [checked]="questions[3].checkedNo"
          [disabled]="questions[3].disabled"
          [required]="questions[3].required"
          value="no"
        />
      </div>
    </div>
    @if(questions[3].error ){
      <p class="error-inputs">Campo requerido *</p>
    }

    <div class="container_question">
      <div class="question">

        @if(questions[4].disabled){
          <h3 class="quest-10 disabled">¿La actividad económica se realiza bajo un sistema que implique la explotación de
            intangibles (por ejemplo, franquicia, concesión, regalía o similar) ?</h3>
          <img
          src="./assets/images/icon-disabled.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-12'"/>
        } @else {
          <h3 class="quest-10">¿La actividad económica se realiza bajo un sistema que implique la explotación de
            intangibles (por ejemplo, franquicia, concesión, regalía o similar) ?</h3>
          <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-12'"/>
        }
      </div>

      <div class="answer">
        <input
          (change)="getAnswer('si', 12)"
          class="input-checkbox disabled"
          type="radio"
          id="si"
          name="{{ 12 }}"
          value="si"
          [checked]="questions[4].checkedYes"
          [disabled]="questions[4].disabled"
          [required]="questions[4].required"
        />
        <input
          (change)="getAnswer('no',12)"
          class="input-checkbox disabled"
          type="radio"
          id="no"
          name="{{ 12 }}"
          [checked]="questions[4].checkedNo"
          [disabled]="questions[4].disabled"
          [required]="questions[4].required"
          value="no"
        />
      </div>
    </div>
    @if(questions[4].error ){
      <p class="error-inputs">Campo requerido *</p>
    }

    @for( quest of questions; track questions){
      <app-modal
        [id]="quest.id"
        [modalTitle]="quest.question"
        [modalContent]="quest.content"
      />
    }

    <div class="footer-form">
      <input type="submit" value="Continuar" (click)="handleSubmit($event)" />
    </div>
  </form>
</section>
