<h2>
  Sobre La actividad economica <br />
  que desea formalizar :
</h2>

<section>
  <app-disclaimer class="disclaimer" />

  <form class="container">
    <div class="container_question">
      <div class="question"></div>
      <div class="answer">
        <label>Si</label>
        <label>No</label>
      </div>
    </div>
    @for( quest of questions; track questions){
      @if(quest.id !== 101){
    <div class="container_question">
      @if(quest.disabled === true){
        <div class="question">
          @if(quest.id === 10){
            <h3 class="quest-10">
              {{ quest.question }}
            </h3>
          } @else {
            <h3 class="disabled">
              {{ quest.question }}
            </h3>
          }
          @if(quest.id !== 10){
            <img
              src="./assets/images/icon-disabled.svg"
              alt="?"
              [attr.data-bs-toggle]="'modal'"
              [attr.data-bs-target]="'#exampleModal-' + quest.id"
            />
          }
        </div>

      <div class="answer">
        <input
          (change)="getAnswer('si', quest.id)"
          class="input-checkbox disabled"
          type="radio"
          id="si"
          name="{{ quest.id }}"
          value="si"
          [checked]="quest.checkedYes"
          [disabled]="quest.disabled"
          [required]="quest.required"
        />
        <input
          (change)="getAnswer('no', quest.id)"
          class="input-checkbox disabled"
          type="radio"
          id="no"
          name="{{ quest.id }}"
          [checked]="quest.checkedNo"
          [disabled]="quest.disabled"
          [required]="quest.required"
          value="no"
        />
      </div>

      } @else {
      <div class="question">
        @if(quest.id === 10 || quest.id === 101){

        <h3 class="quest-10">
          {{ quest.question }}
        </h3>

        } @else {
        <h3>
          {{ quest.question }}
        </h3>
        }
        @if(quest.id !== 10){
        <img
          src="./assets/images/icon.svg"
          alt="?"
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#exampleModal-' + quest.id"
        />
        }
      </div>

      @if(quest.id === 10 || quest.id === 101){
      <div class="answer-inputs-text">
        <div>
          <label for="gravada-con-iva">De la actividad gravada con iva</label>
          <div class="answer-inputs-divs">
            <input
              (input)="updateValue($event.target || '', 10)"
              [value]="cantidad"
              (keydown)="filtrarNumero($event)"
              class="input-checkbox disabled"
              type="text"
              id="gravada-con-iva"
              name="gravada-con-iva"
              [required]="quest.required"
            />
            @if(quest.error && quest.id === 10){
              <p class="error-inputs">Campo requerido *</p>
            }
          </div>
        </div>

        <div>
            <label>Otras</label>
            <div class="answer-inputs-divs">
              <input
                (input)="updateValue($event.target || '', 101)"
                (keydown)="filtrarNumero($event)"
                [value]="cantidadDos.trim()"
                class="input-checkbox disabled"
                type="text"
                id="nose"
                min="0"
                name="gravada-con-iva"
                [required]="quest.required"
              />
              @if(quest.error && quest.id === 101){
                <span class="error-inputs">Campo requerido *</span>
              }
            </div>
        </div>
      </div>
      } @else{


      <div class="answer">
        <input
          (change)="getAnswer('si', quest.id)"
          class="input-checkbox"
          type="radio"
          id="si"
          name="{{ quest.id }}"
          value="si"
          [checked]="quest.checkedYes"
          [disabled]="quest.disabled"
          [required]="quest.required"
        />
        <input
          (change)="getAnswer('no', quest.id)"
          class="input-checkbox"
          type="radio"
          id="no"
          name="{{ quest.id }}"
          [checked]="quest.checkedNo"
          [disabled]="quest.disabled"
          [required]="quest.required"
          value="no"
        />
      </div>
      } }
    </div>
    <app-modal
      [id]="quest.id"
      [modalTitle]="quest.question"
      [modalContent]="quest.content"
    />
    @if(quest.error){
      <p class="error">Campo requerido *</p>
    }

      }
    }

    <div class="footer-form">
      <input type="submit" value="Continuar" (click)="handleSubmit($event)" />
    </div>
  </form>
</section>
