h2{
  font-weight: 900;
  line-height: 3rem;
  color: #02B0F0;
  font-size: 3rem;
  padding: 1rem;
}
h3{
  font-size: 1rem;
}

section{
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.disabled{
  color: #8e8e8e;
}

.disclaimer{
  width: 20%;
  font-size: 0.8rem;
  padding: 1rem;
  background-color: white;
}

.footer-form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;

  input[type=submit]{
    background-color: #02B0F0;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem;

  }
}


.answer-inputs-text div{
  display: flex;


}

.answer-inputs-divs{
  display: flex;
  flex-direction: column;
}

.error{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color:#f77979;
  padding: 0px;
  margin: 0;
}
.error-inputs{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color:#f77979;
  padding: 0px;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  flex-direction: column;
}


.container_question{
  display: flex;
  gap: 1rem;

  align-items: center;
  width: 100%;
  .question{
    width: 50%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .answer{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &-inputs-text{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      left: -9rem;
      div{
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        input{
          color: black;
          height: 2rem;
        }
      }
    }
  }
}
input[type=radio]:disabled {
  border: 1px solid #8e8e8e;
}



input[type=radio] {
  width: 32px;
  height: 32px;
  border: 1px solid #6F309F;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  color: white;
}

input[type=radio]:checked {
  background-image: url("./../../../assets/images/check-icon.svg"); /* Path to your checkmark image */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6F309F;
  color: white;
}

input[type=radio]:focus {
  outline-color: transparent;
}

.quest-10{
  width: 50%;
}




@media (max-width: 600px) {
  section{
    flex-direction: column;
  }

  .disclaimer{
    width: 100%;
    padding: 1rem;
  }

  .container_question{
    .answer{
      width: 200px;

      &-inputs-text{
        width: 100%;
      }

    }
  }

}
